@import url("https://fonts.googleapis.com/css?family=Raleway:300,700,900");

@mixin leftPos($count) {
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      left: ((($i)-2) * 13)-1%;
    }
  }
}

.container {
  width: 100vw;
  max-width: 800px;
  height: 75px;
  background: #fdc655;
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #020202;
  font-size: 24px;
  font-weight: 900;
}

.liquid {
  width: 120%;
  height: 10px;
  position: absolute;
  top: -2%;
  left: -10%;
  background: #fff;
  border-radius: 10%;
  animation: liquid 5s infinite;
}

.blobs {
  filter: url("#goo");
  width: 100%;
  height: 100%;
  position: relative;

  .blob {
    width: 30px;
    height: 30px;
    margin: 0 5px 0px 0;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    @include leftPos(9);
    animation: drip_one 5s infinite;

    &:nth-of-type(4n-7) {
      width: 65px;
      animation: drip_four 5s infinite;
    }
    &:nth-of-type(3n-2) {
      width: 26px;
    }
    &:nth-of-type(2) {
      width: 22px;
    }
    &:nth-of-type(8) {
      animation: drip_five 5s infinite;
    }
    &:nth-of-type(4n + 2) {
      height: 56px;
      animation: drip_two 5s infinite;
    }
    &:nth-of-type(6n-2) {
      height: 42px;
      animation: drip_three 5s infinite;
    }
  }
}

@keyframes drip_one {
  from {
    top: 0;
  }
  to {
    top: 103%;
  }
}
@keyframes drip_two {
  from {
    top: 0;
  }
  to {
    top: 104%;
  }
}
@keyframes drip_three {
  from {
    top: 0;
    height: 52px;
  }
  to {
    top: 102%;
    height: 132px;
  }
}
@keyframes drip_four {
  from {
    top: 0;
    width: 65px;
    height: 30px;
  }
  to {
    top: 102%;
    width: 75px;
    height: 45px;
  }
}
@keyframes drip_five {
  from {
    top: 0;
    height: 30px;
  }
  to {
    top: 102%;
    height: 72px;
  }
}
@keyframes liquid {
  from {
    height: 15px;
  }
  to {
    height: 109%;
  }
}
