@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brands-length: 23.5;
  --mobile-brands-width: calc(-1 * 128px * var(--brands-length));
  --desktop-brands-width: calc(-1 * 162px * var(--brands-length));
}

body {
  font-family: "Open Sans", sans-serif;
  @apply antialiased;
}

td {
  font-weight: 600;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

.gold {
  background-image: linear-gradient(to right,
      #cb9b51 0%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.radial-gradient {
  background: radial-gradient(circle,
      rgba(64, 16, 110, 1) 0%,
      rgba(43, 7, 77, 1) 84%,
      rgba(47, 7, 77, 1) 100%);
}


.trap-takeover {
  background-image: url("/images/palm-tree.png"),
    radial-gradient(circle at 100% 0%,
      rgb(191, 38, 138) 0%,
      rgb(53, 2, 124) 100%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.font-trap-takeover {
  font-family: "VT323", monospace;
}

.deal-card-shadow {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
}


@keyframes desktop-scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(var(--desktop-brands-width));
  }
}

@keyframes mobile-scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(var(--mobile-brands-width));
  }
}
