@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brands-length: 23.5;
  --mobile-brands-width: calc(-1 * 128px * var(--brands-length));
  --desktop-brands-width: calc(-1 * 162px * var(--brands-length));
}

body {
  font-family: "Open Sans", sans-serif;
  @apply antialiased;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

.gold {
  background-image: linear-gradient(to right, #cb9b51 0%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes desktop-scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--desktop-brands-width));
  }
}

@keyframes mobile-scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--mobile-brands-width));
  }
}
