@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-main: url("/lake-county.webp");
  --background-image-clover: url("/clover.svg");

  --font-main: var(--font-main);
  --font-logo: var(--font-logo);
  --font-stiiizy: var(--font-stiiizy);
  --font-trap-takeover: var(--font-trap-takeover);
  --font-birthstone: var(--font-birthstone);
  --font-halloween: var(--font-halloween);
  --font-dm-serif: var(--font-dm-serif);

  --color-primary-purple: rgb(43, 7, 77);
  --color-new-years-gold: #d9b01c;
  --color-new-years-black: #090909;

  --animate-desktop-scroll: desktop-scroll 30s linear infinite both;
  --animate-mobile-scroll: mobile-scroll 30s linear infinite both;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-text: text 5s ease infinite;
  --animate-fade-in: fade-in 0.5s ease-in forwards;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes text {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

  @keyframes fade-in {
    /* */
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button {
    cursor: pointer;
  }
}

:root {
  --brands-length: 23.5;
  --mobile-brands-width: calc(-1 * 128px * var(--brands-length));
  --desktop-brands-width: calc(-1 * 162px * var(--brands-length));
  /* 420 Neon Light Vars */
  --neon-green: #32df19;
  /* Christmas Light Vars */
  --globe-width: 12px;
  --globe-height: 28px;
  --globe-spacing: 40px;
  --globe-spread: 3px;
  --light-off-opacity: 0.4;
}

body {
  font-family: var(--font-main), sans-serif;
  @apply antialiased;
}

td {
  font-weight: 600;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

.gold {
  background-image: linear-gradient(
    to right,
    #cb9b51 0%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.radial-gradient {
  background: radial-gradient(
    circle,
    rgba(64, 16, 110, 1) 0%,
    rgba(43, 7, 77, 1) 84%,
    rgba(47, 7, 77, 1) 100%
  );
}

.trap-takeover {
  background-image:
    url("/images/palm-tree.webp"),
    radial-gradient(
      circle at 100% 0%,
      rgb(191, 38, 138) 0%,
      rgb(53, 2, 124) 100%
    );
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.font-trap-takeover {
  font-family: var(--font-trap-takeover), monospace;
}

.trap-takeover-text {
  background-image: linear-gradient(180deg, #f2bd2a 28%, #f26e50 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(rgb(53, 2, 124) 2px 2px 0px);
}

.deal-card-shadow {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.slick-arrow::before {
  color: black;
}

.slick-slide {
  padding: 0 0.25rem;
}

.turkey-bg {
  background-color: #6b4815;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23e8e1d5' fill-opacity='0.11'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@keyframes desktop-scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(var(--desktop-brands-width));
  }
}

@keyframes mobile-scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(var(--mobile-brands-width));
  }
}

/* This is for the 4/20 neon effect */
.neon {
  animation: pulsate 1.5s infinite alternate;
  border-radius: 10px;
  box-shadow:
    0 0 0.2rem var(--neon-green),
    0 0 0.2rem var(--neon-green),
    0 0 2rem #32df19,
    0 0 0.8rem #32df19,
    0 0 2.8rem #32df19,
    inset 0 0 1.3rem #32df19;
}

@keyframes pulsate {
  0% {
    box-shadow:
      0 0 0.2rem #fff,
      0 0 0.2rem #fff,
      0 0 2rem #32df19,
      0 0 0.8rem #32df19,
      0 0 2.8rem #32df19,
      inset 0 0 1.3rem #32df19;
  }

  100% {
    box-shadow:
      0 0 0.25rem #fff,
      0 0 0.6875rem #fff,
      0 0 1.1875rem #fff,
      0 0 2.5rem #32df19,
      0 0 5rem #32df19,
      0 0 5.625rem #32df19,
      0 0 6.25rem #32df19,
      inset 0 0 9.375rem #32df19;
  }
}

/* Mother's & Father's Day */

.animate-text-reveal {
  animation: text-reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes text-reveal {
  0% {
    transform: translate(0, 200%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.leaves {
  @apply bg-[url('/images/roses.jpg')] bg-cover bg-bottom bg-no-repeat;
}

.fathers-day {
  @apply bg-[url('/images/fathers-day.jpg')] bg-cover bg-bottom bg-no-repeat;
}

/* 4/20 */
.leaf {
  @apply bg-[url('/images/4-20/cannabis-leaf.svg')] bg-center bg-no-repeat;
}

.neon-border {
  position: relative;
  overflow: visible;
  border-radius: 4px;
  padding: 2px;
  background-color: black;
  border: 1px solid #32df19;
  box-shadow: 0 0 5px rgba(50, 223, 25, 0.5);
}

.neon-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    90deg,
    black 0%,
    #32df19 10%,
    #32df19 20%,
    black 30%,
    black 70%,
    #32df19 80%,
    #32df19 90%,
    black 100%
  );
  background-size: 200% 100%;
  animation: electricity-animation 2s linear infinite;
  z-index: 0;
  border-radius: 4px;
  box-shadow:
    0 0 10px rgba(50, 223, 25, 0.7),
    0 0 20px rgba(50, 223, 25, 0.5),
    0 0 30px rgba(50, 223, 25, 0.3);
  pointer-events: none;
}

.neon-border > * {
  position: relative;
  z-index: 2;
}

@keyframes electricity-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

/* THIS IS FOR THE CHRISTMAS BANNER */

.strand {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -30px 30px 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.strand li {
  position: relative;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  list-style: none;
  padding: 0;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: #f02241;
  box-shadow: 0px 4.66667px 24px 3px #f02241;
  -webkit-animation-name: flash-1;
  animation-name: flash-1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.strand li:nth-child(2n + 1) {
  background: #42b261;
  box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
  -webkit-animation-name: flash-2;
  animation-name: flash-2;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.strand li:nth-child(4n + 2) {
  background: #f9fbee;
  box-shadow: 0px 4.66667px 24px 3px #f9fbee;
  -webkit-animation-name: flash-3;
  animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

.strand li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

.strand li:nth-child(3n + 1) {
  -webkit-animation: 1.4s;
  animation: 1.4s;
  animation-duration: 1.4s;
}

.strand li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.33333px;
  border-radius: 3px;
  top: -4.66667px;
  left: 1px;
}

.strand li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.66667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.strand li:last-child:after {
  content: none;
}

.strand li:first-child {
  margin-left: 40px;
}

@-webkit-keyframes flash-1 {
  0%,
  100% {
    background: #f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
  }

  50% {
    background: rgba(240, 34, 65, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, 0.02);
  }
}

@keyframes flash-1 {
  0%,
  100% {
    background: #f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
  }

  50% {
    background: rgba(240, 34, 65, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, 0.2);
  }
}

@-webkit-keyframes flash-2 {
  0%,
  100% {
    background: #42b261;
    box-shadow: 0px 4.66667px 24px 3px #42b261;
  }

  50% {
    background: rgba(66, 178, 97, 0.4);
    box-shadow: 0px 4.6667px 24px 3px rgba(66, 178, 97, 0.2);
  }
}

@keyframes flash-2 {
  0%,
  100% {
    background: #42b261;
    box-shadow: 0px 4.66667px 24px 3px #42b261;
  }

  50% {
    background: rgba(66, 178, 97, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(66, 178, 97, 0.2);
  }
}

@-webkit-keyframes flash-3 {
  0%,
  100% {
    background: #f9fbee;
    box-shadow: 0px 4.6667px 24px 3px #f9fbee;
  }

  50% {
    background: rgba(249, 251, 238, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(249, 251, 238, 0.2);
  }
}

@keyframes flash-3 {
  0%,
  100% {
    background: #f9fbee;
    box-shadow: 0px 4.66667px 24px 3px #f9fbee;
  }

  50% {
    background: rgba(249, 251, 238, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(249, 251, 238, 0.2);
  }
}

@keyframes write {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
